* {
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #222222;
    line-height: 1.3;
}

header {
    background-color: #383A3B;
}

nav a {
  background-color: #383A3B;
  color: white;;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  float: left;
  font-size: 15px;
}

nav a:hover {
  background-color: #1FA2E1;
}


ul a {
  color: #1FA2E1;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  display: block;

}

ul a {
  color: #1FA2E1;
  font-size: 12px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  font-size: 40px;
  padding-top: 20px;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  text-align: left;
  font-size: 30px;
  margin: 10px 0;
}

h3 {
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  text-align: left;
  color: #cccccc;
  margin: 20px 20px 10px 0;
}

blockquote {
  border: 2px #D2D5D6 solid;
  margin-bottom: 10px;
  padding: 30px 30px 20px 20px;
  font-family: georia;
}

blockquote {
font-style: italic;
}

article {
    width: 280px;
    text-align: left;
    float: left;
    margin: 10px 60px 20px 0;
}

article.last {
    margin-right: 0;
}

article img {
    border: solid 3px #eee;
}

p a {
 color: #1FA2E1;
 text-decoration: none;
 padding: 20px 0 30px 0;
 font-size: 15px;
}

p {
  margin: 20px 0 20px 5px;
}

#wrapper {
  margin: 0 auto;
  width: 960px;
  font-family: Georgia;
  font-size: 15px;
}

.footer {
  background-color: #383A3B;
  background-size: cover;
  height: 280px;
}

.footer ul {
    list-style: none;
}

.footer li a {
    display: block;
    padding: 5px;
    border-bottom: dashed 1px #eee;
}

.column1, .column2, .column3 {
  float:left;
  margin-right: 20px;
}

.hero {
  background-image: url(../images/photobanner.png);
  background-size: cover;
  height: 550px;
}

.wrapper{
  font-size: 20px;
  margin: 40px 0 40px 0;
}

.column1 {
  width: 220px;
  font-size: 12px;
  color: #1FA2E1;
}

.column2 {
    width: 370px;
    text-align: left;
    font-size: 12px;
    color: #cccccc;
}

.column3 {
  width: 270px;
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
  color:#1FA2E1;
}

.w2 {
    color: #cccccc;
}

.copy {
  color: #cccccc;
  text-align: left;
  font-size: 12px;
  margin-top: 60px;
}

.ad {
  color: #cccccc;
  text-align: left;
  font-size: 12px;
  margin-top: 90px;
}

.ad a {
  text-decoration: none;
  color: #1FA2E1;
  font-size: 12px;
}

/* Utility clearing classes you may use. */
.container {
    width: 960px;
    margin: 0  auto;
}

.clear {
  clear: both;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
